body {
    margin:0;
    font-family:sans-serif;
}

#map {
    width:83%;
    height:760px; 
    float:left;
}

#sidebar {
    float:right;
    width:15%;
    padding: 0.5em;
    background-color:#e0e0e0;
    border:1px solid black;
}

table, th, td {
    background-color:#f0f0f0;
    border: 1px solid black;
    border-collapse:collapse;
    text-align:center;
}

h1, h2 {
    font-size:120%;
}

h1, h2, .warning {
    width: 100%;
    text-align: center;
}

h1 {
    margin:0;
}
.warning {
    margin:0;
    font-style:italic;
}

#sidebar p{font-size:80%;}

/* Pop-up styling */
.details, .details h3 {
    margin-bottom:0;
}
.address {
    margin-bottom:10px;
}
.details p {
    margin:0 !important;
    padding:0 !important;
}
.edit {
    font-size:80%;
    margin-top:10px !important;
}
.edit, .edit a, .marked {
    color:gray !important;
}
